{# Load the tag library #} {% load django_bootstrap5 %} {# Load CSS and JavaScript #} {% bootstrap_css %}
{%bootstrap_javascript %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/aluno">Aluno</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">{{form.nome.as_field_group}}</div>
        <div class="mb-3">{{form.email.as_field_group}}</div>
        <div class="mb-3">{{form.telefone.as_field_group}}</div>
        <input type="submit" class="btn btn-success" value="Cadastro" />
      </form>
    </div>
  </body>
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
  

  {% comment %} <script src={% static 'jquery-3.7.1.min.js' %}></script>
  <script src={% static 'jquery.mask.js' %}></script> {% endcomment %}
</html>
